// APP SETTINGS LAYOUT


// CUSTOMER FEATURES
.header{
    grid-row: 1/2;
    grid-column: full-start/full-end;
    	
    @media only screen and (max-width:$bp-normal-large){
        grid-column: side-start/ side-end;
        grid-row: 1/18;
       }

    
}
.hero{
    grid-row: 2/3;
    grid-column: full-start/full-end;

    @media only screen and (max-width:$bp-normal-large){ 
        grid-row: 1/2;
       }
}
.about{
    grid-row:3/4;
    grid-column:full-start/full-end;
    
    // background-color:white;
}
.service-container{
    grid-row:4/5;
    grid-column: center-start/center-end;

}
.products{
    grid-row:5/6;
    grid-column: full-start/full-end;

}





.solar{

    grid-row:6/7;
    grid-column: full-start/full-end;
}

.news{

    grid-row:7/8;
    grid-column: full-start/full-end;
}

.blog-platform{

    grid-row:8/9;
    grid-column:full-start/full-end;
}


.admin{
    grid-row:9/10;
    // grid-column: center-start/center-end;
    grid-column: full-start/full-end;

}

.contact-form{
    grid-row:10/11;
    grid-column: center-start/center-end;
   
}

.product-container{
    grid-row:11/12;
    grid-column: center-start/center-end;
    // grid-column: full-start/full-end;
}


.demi-form{
    grid-row:12/13;
    grid-column: center-start/center-end;
   
}

.story{
    grid-row:13/14;
    grid-column: full-start / col-end 4;

    @media only screen and (max-width:$bp-medium-medium){
    
        display:none;
  
         }
  
}

.user-review{
    grid-row:13/14;
    grid-column:col-end 4 /full-end;
    @media only screen and (max-width:$bp-medium-medium){
    
        grid-column:full-start/full-end;
  
         }
  
}

.projects{
    grid-row:14/15;
    grid-column: full-start/full-end;
 
}

.blog{

    grid-row:16/17;
    grid-column:full-start/full-end;
}


.footer{
    grid-row:17/-1;
    grid-column: full-start/full-end;
    
}



































// .blog{
//     background-color: brown;
// }
// .product-catalog{
//     background-color: yellow;
// }
// .solar-calculator{
//     background-color: blue;
// }
// .consultation-booking{
//     background-color: red;
// }
// .customer-portal{
//     background-color: green;
// }
// .instant-quote-generator{
//     background-color: orangered;
// }
// .live-chart{
//     background-color: grey;
// }
// .educational-resources{
//     background-color: purple;
// }
// .storie{
//     background-color: pink;
// }
// .live-chart{
//     background-color: violet;
// }


// .community-forum{
//     background-color: indigo;
// }
// .agugmented-reality-visualizer{
//     background-color: purple;
// }
// .energy-savings-tracker{
//     background-color: antiquewhite;
// }
// .gamification-element{
//     background-color: aquamarine;
// }


// // ADMINISTRATIVE
// .cms{
//     background-color: aqua
// }
// .educational-resources{
//     background-color: purple;
// }
// .analysics{
//     background-color:olive;
// }
// .payment{
//     background-color:olivedrab;
// }
// .footer{
//     background-color:black;
// }
